<div class="navbar">
    <a class="left-side" href="">
        <img src="images/logo-cmf.png" alt="Logo-ul CMF Balti">
        <p>Centrul Medicilor de<br>Familie mun. Bălți</p>
    </a>

    <div class="right-side">
        <ul>
            <li><a href="" class="active">Acasă</a></li>
            <li><a href="">Despre CMF</a></li>
            <li><a href="">Informații pentru<br>beneficiari</a></li>
            <li><a href="">Transparență</a></li>
            <li><a href="">Contacte</a></li>
        </ul>
    </div>

    <!-- Hamburger Button -->
    <div class="hamburger" onclick="toggleMenu()">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
    </div>

    <div class="mobile-menu">
        <ul>
            <li><a href="" class="active">Acasă</a></li>
            <li><a href="">Despre CMF</a></li>
            <li><a href="">Informații pentru<br>beneficiari</a></li>
            <li><a href="">Transparență</a></li>
            <li><a href="">Contacte</a></li>
        </ul>
    </div>
</div>